<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading">Create or edit a Order</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            <option *ngFor="let orderStatus of orderStatusValues" [value]="orderStatus">orderStatus</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionCode">Transaction Code</label>
          <input
            type="text"
            class="form-control"
            name="transactionCode"
            id="field_transactionCode"
            data-cy="transactionCode"
            formControlName="transactionCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isPaid">Is Paid</label>
          <input type="checkbox" class="form-check" name="isPaid" id="field_isPaid" data-cy="isPaid" formControlName="isPaid" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_issuedDate">Issued Date</label>
          <div class="d-flex">
            <input
              id="field_issuedDate"
              data-cy="issuedDate"
              type="datetime-local"
              class="form-control"
              name="issuedDate"
              formControlName="issuedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_appUser">App User</label>
          <select
            class="form-control"
            id="field_appUser"
            data-cy="appUser"
            name="appUser"
            formControlName="appUser"
            [compareWith]="compareAppUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="appUserOption" *ngFor="let appUserOption of appUsersSharedCollection">{{ appUserOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_event">Event</label>
          <select class="form-control" id="field_event" data-cy="event" name="event" formControlName="event" [compareWith]="compareEvent">
            <option [ngValue]="null"></option>
            <option [ngValue]="eventOption" *ngFor="let eventOption of eventsSharedCollection">{{ eventOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
