<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="event">
      <h2 data-cy="eventDetailsHeading"><span>Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ event.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ event.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ event.description }}</span>
        </dd>
        <dt><span>Age Restriction</span></dt>
        <dd>
          <span>{{ event.ageRestriction }}</span>
        </dd>
        <dt><span>Event</span></dt>
        <dd>
          <span>{{ event.event }}</span>
        </dd>
        <dt><span>Start Time</span></dt>
        <dd>
          <span>{{ event.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
          <span>{{ event.endTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Date Before</span></dt>
        <dd>
          <span>{{ event.dateBefore | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Event Type</span></dt>
        <dd>
          <div *ngIf="event.eventType">
            <a [routerLink]="['/event-type', event.eventType.id, 'view']">{{ event.eventType.id }}</a>
          </div>
        </dd>
        <dt><span>Stage</span></dt>
        <dd>
          <div *ngIf="event.stage">
            <a [routerLink]="['/stage', event.stage.id, 'view']">{{ event.stage.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
